@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background:url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.text-left {
    text-align: left !important;
}
.profile-nav .user-heading.clock-row {
    padding: 20px;
}
.user-heading.alt {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.profile-nav .user-heading {
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}
.clock-row {
    text-transform: uppercase;
    min-height: 170px;
}
.terques-bg {
    background: #1fb5ad;
}.profile-nav .user-heading h1 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.clock-row h1 {
    font-size: 22px !important;
    font-weight: 400 !important;
    letter-spacing: 1px;
    margin: 0 0 5px 0!important;
    letter-spacing: 1px;
}.profile-nav .user-heading p {
    font-size: 16px;
    color: #8b8b8b;
    line-height: 25px;
}

.clock-row p {
    font-size: 18px;
    font-weight: 300;
    color: #fff !important;
    margin: 0;
}#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -95px auto 0;
    background: url(http://bucketadmin.lab.themebucket.net/js/css3clock/images/clockface.png) no-repeat;
    list-style: none;
}

.profile-nav ul {
    margin-top: 1px;
}

ul#clock li{
    border: none;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -95px auto 0;
    background: url(http://bucketadmin.lab.themebucket.net/js/css3clock/images/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 83px;
}

#sec {
    background: url(http://bucketadmin.lab.themebucket.net/js/css3clock/images/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(http://bucketadmin.lab.themebucket.net/js/css3clock/images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(http://bucketadmin.lab.themebucket.net/js/css3clock/images/hourhand.png);
    z-index: 1;
}

.profile-nav ul>li {
    border-bottom:1px solid #ebeae6;
    margin-top:0;
    line-height:30px;
}
ul.clock-category {
    padding:15px 0;
}
.profile-nav ul {
    margin-top:1px;
}
ul.clock-category li {
    display: inline-block;
    width: 24%;
    text-align: center;
    border: none;
}
.profile-nav ul>li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}
ul.clock-category li a:hover, ul.clock-category li a.active {
    color: #1fb5ad !important;
    background: none !important;
}

.profile-nav ul>li>a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
ul.clock-category li a:hover i, ul.clock-category li a.active i {
    color: #1fb5ad !important;
}
ul.clock-category li a i {
    font-size: 30px;
    padding-right: 0;
}

.profile-nav ul>li>a>i {
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}ul.clock-category li a span {
    display: block;
    line-height: normal;
}